extends layout

block content
    div
    h1= "Dice Game"
    form(action='/createGame', method='post')
        h2
        | Nombre: 
        input(type='text', name='Jugador1', value='', placeholder="Jugador 1" required)
        h2
        | Nombre: 
        input(type='text', name='gamer2', value='', placeholder="Jugador 2" required)
        h2
        | Nombre: 
        input(type='text', name='gamer3', value='', placeholder="Jugador 3" required)
        p
        input(type='submit', value='Continuar')
        p
        a(href='/') Volver