extends layout

block content
  h1= title
  p Bienvenido al juego de dados
  p ¡Apuesta y Gana!
  p ¿Estás listo para empezar?
  p 
  input(id='createBtn', type='button', value='Crear', onclick="location.href='http://localhost:8080/createGame'")
  |                
  input(id='gamesBtn', type='button', value='Ver juegos', onclick="location.href='http://localhost:8080/games'")
