body {
  padding: 10px;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

p {
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;  
  text-align: center;
}

input, select, option, button {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;  
  text-align: "center";
}

footer {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;  
  position:absolute;
  bottom:4em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

